 <div class="navbar navbar-default animated bounceInDown" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" ui-sref="dashboard">Dashboard</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a ui-sref="login">Logout</a></li>
            </ul>
        </li>
        </ul>
    </div>
    </div>
</div>